@media  only screen and (max-width:600px) {
    body{
        font-size: 14px;
    }    
}

.homeBtn:hover{
    background-color: blue;
}

@media  only screen and (max-width:500px) {
    .homeBtn:hover{
        background-color: red;
    }    
}

.detBtn{
    font-size: 100%;
}

@media  only screen and (min-width:350px) {
    .detBtn{
        font-size: 200%;
        transition: all 200ms;
    }    
}

.abtBtn{
    background-color: gray;
}

@media  only screen and (min-width:350px) and (max-width:750px) {
    .abtBtn{
        background-color: green;
    }    
}


body{
    font-size: 24px;
}
div > *:first-child{
    
    background-color: yellow;
}

